@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme {
  --tanmay:#000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:'Roboto Mono';
  width: 100dvw;
  overflow-x: hidden;
  background-color: #ffffff;
}
*::selection{
  font-family:Roboto Mono;
  background-color: #000;
  color:#ffffff;
}